pillow
torch
transformers==4.32.0
einops
flash-attn
numpy
shapely
pandas
matplotlib
requests
gradio
accelerate
bitsandbytes
opencv-python
qwen-vl-utils[decord]
modelscope
deepspeed

markdown
bs4
Ipython